{
  "root": true,
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-prettier/recommended",
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
  },
}
